@import "reset.css";

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Vollkorn', serif;;
    color: #333333;

}

h1,h2,h3,h3,h5,h6 {
    font-family: 'Montserrat', sans-serif;;
}

h1{
    font-size: 44px;
    font-weight: 400;
    line-height: 55px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

h2{
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

h3{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.container-wrapper {
    padding: 0 10px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

header {
    padding: 18px;
}

header .container-wrapper {
    align-items: center;
    justify-content: space-between; /*прижимает блоки к краям*/
}

header nav a{
    font-family: 'Montserrat', sans-serif;;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase; /*сделает вврехнем ргеистре*/
    color: #404040;
}

header nav.d-flex{
    gap: 34px;
}

.sec-1{
    background-image: url("../images/bg-1.jpg");
    background-repeat: no-repeat; /*чтобы не повторялось*/
    background-size: cover; /*чтобы не сжималось*/
    background-position: center center ;
    padding: 105px 0 100px;
    color: white;
    text-align: center;
    position: relative; /*чтоюы от нее спозиционировать Х*/
}

.sec-1 p{
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.81);
}

.x-icon {
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%); /*чтобы Х стал посередине left:50% и это*/

}

.sec-2{
    padding: 60px 0;
    background: #FEFEC9;
}

.sec-2 p{
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #47474F;
    margin-bottom: 40px;
}

.btn-main{
    color: #47474F;
    background: transparent;
    border: 1px solid #47474F;
    border-bottom-width: 2px;
    padding: 13px 34px 20px;
    display: block;
    margin: 0 auto;

}

.sec-3 h2{
    margin-top: 79px;
}

.divider:after {
    content: '';
    background: rgba(0, 0, 0, 0.09);
    display: block;
    margin: 28px auto 0; /*чтобы линия была посередине*/
    width: 80px;
    height: 2px;
}

.divider_white:after {
    background: white;
}

.card h3{
    margin: 38px 0 20px;
}

.sec-3{
  margin-bottom: 74px;
}

.cards-wrapper{
    justify-content: center;
    gap: 10px;
    margin-top: 43px;
}

.card{
    max-width: 300px;
    width: 100%;
    text-align: center;
}

.img-wrapper{
    padding: 50px 86px;
    background: #F5F5F5;
}

footer{
    background: black;
    padding: 69px 0 75px;
}

.footer-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-form {
    width: 564px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea{
    display: block;
    width: 100%;
    font-size: 17px;
    line-height: 22px;
    font-style: italic;
    color: white;
    padding: 18px 30px 17px;
    background: rgba(255, 255, 255, 0.2);
}

input::placeholder, textarea::placeholder{
    color: white;
}

input:nth-of-type(odd){
    background: rgba(255, 255, 255, 0.18);
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::placeholder textarea::placeholder{

}

textarea{
    resize: none;  /*чтобы не скролилась*/
    height: 127px;
}

.btn-footer {
    font-style: italic;
    color: #8BCAC3;
    background: transparent;
    border: 1px solid #8BCAC3;
    border-bottom-width: 2px;
    padding: 15px 60px 20px;
    display: block;
    margin: 22px auto;
}

.logo{
    margin: 37px 0 14px;
}

.footer-text{
    color: rgba(255, 255, 255, 0.4);
}

.sec-4{
    padding: 79px 0;
    background: #F5F5F5;
}

